html, body {
 	background: radial-gradient(#DCE35B, #45B649);	
 	width: 100%;
	height: 100%;
}


footer {
	position: absolute;
	bottom: 5px;
	padding-left: 100px;
	padding-top: 10px;
	width: 100%;
	text-align: center;
	background-color: rgba(235, 102, 9, 1);
	font-size: 14pt;
	color: white;
}

h1 {
	font-size: calc(30px + 2vw);
}

input[placeholder] {
	font-size: calc(12px + 1.2vw);
}

button {
	width: 50%;
	height: 60%;
}

i {
	font-size: calc(12px + 1vw);
}

#book-logo {
	height: 100px;
	width: 177px;
}
#logo {
	margin-top:30px;
	height: 50px;
	width: 200px;
}
.panel {
	background-color: rgba(0,0,0,.6);
	text-align: center;
	/*Below css for centering the login panel on the page*/
	position: absolute;
	padding: 0px 50px 0px 50px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 300px;
	width: 40%;
	min-height: 350px;
	height: 60%;
}

